SUPABASE_URL=https://dsfgnizwhzzadzurdrna.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRzZmduaXp3aHp6YWR6dXJkcm5hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU3NjUxNzgsImV4cCI6MjEwMTM0MTE3OH0.4rYOrmZ9mYJi9wHejdYW74WljAXSs71F6-QZpCcIsco
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
FLASK_ENV=development
