SUPABASE_URL=https://dsfgnizwhzzadzurdrna.supabase.co
SUPABASE_KEY=sb_publishable_1aNzGrzAx63vSOQVBUIxZg_uYHlbT6h
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
FLASK_ENV=development
